/* ----------------------共通---------------------- */

/* 導覽列 */
.top-nav a:hover {
  padding-bottom: 5px;
  border-bottom: 4px solid #ff7300;
}

/* 頁腳 */
.social ul li a{
  transition: all .5s;
}

.social ul li a:hover {
  color: #ff7300;
}

/* ----------------------獨立---------------------- */

/* 首頁 index */
main ul li {
  transition: all 0.2s 0s ease;
}

main ul li:hover {
  transform: scale(1.1);
  background-color: rgb(48 48 48);
}

/* 關於頁 about */
.banner4 ul li {
  transition: all 0.6s 0s ease;
}

.banner4 ul li:hover {
  transform: scale(1.1);
}

.banner6 > input:hover {
  border: 2px solid white;
}

/* 資訊頁 comms */
.intel ul li{
  transition: all .5s;
}

.intel ul li:hover {
  background-color: rgb(53, 53, 53);
}

.intel ul li img{
  transition: all .5s;
}

.intel ul li:hover img{
  
  transform: translateY(-20px) scale(1.1);
  /* transform: translate(0px, 0px) scale(1, 1.3); */
}

.wmcomms ul li:hover p {
  display: block;
  background-color: rgb(255 255 255 / 30%);
}

/* 媒體頁 */

.search-wrp .time_hot span:hover > div {
  display: block;
}

.search-wrp .time_hot div input:hover{
  background-color: #ff7300;
}

.all_media ul li{
  transition: all .3s;
}

.all_media ul li:hover{
  transform: scale(1.2);
}

/* 聯絡頁 */
