body{

}

.page-wrapper{

}

.media{
    /* max-height: 800px; */
}
/* 隱藏滾動條................ */
body::-webkit-scrollbar {
    /* display: none; */
}

/* 搜尋欄 */
.search-wrp{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100px;
}

.search_box{
    margin: 0 auto;
}

.search_box::after{
    content: "\f002";
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 1.5rem;
}

.search_box input{
    width: 460px;
    margin-left: 40px;
    background-color: rgb(255 255 255 / 0%);
    border-width: 0;
    border-bottom: 2px solid #FF7300;
    color: white;
    font-size: 2rem;
    outline: none;
}

/* 側邊紐 */

.search-wrp .time_hot {
    display: flex;
    width: auto;
    position: relative;
    text-align: center;
}

.search-wrp .time_hot span {
    width: 100px;
}

.search-wrp .time_hot span > input {
    width: 50px;
    border-radius: 5px;
    background-color: rgba(255,255,255,.5);
    border: none;
}

.search-wrp .time_hot div{
    margin-top: 5px;
    display: none;
}

.search-wrp .time_hot div input{
    background-color: rgba(48, 48, 48, .7);
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
}

.search-wrp .time_hot .hot {
    position: absolute;
    right: 300px;
}

.search-wrp .time_hot .time {
    position: absolute;
    right: 100px;
}

/* TTTTIIIITTTTLLLLEEEE */

.media h2{
    text-align: center;
    margin-top: 20px;
}

/* 圖 */
.media .all_media {
    margin: 50px 50px;
}

.all_media ul{
    height: 1600px;
    overflow-y: overlay;
    overflow-x: hidden;
    background: rgb(255, 255, 255,.2);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 50 auto;
    padding: 50px 10px;
    border-radius: 5px;
}

.all_media ul::-webkit-scrollbar{
    border-radius: 10px;
    width: 8px;
    background-color: rgba(255, 255, 255, 0.445);
}

.all_media ul::-webkit-scrollbar-thumb {
    background-color: #303030;
  }


.all_media ul li{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 0 auto;
    height: 400px;
    margin: 40px 10px;
}

.all_media ul li img{
    border: 1px solid white;
}

