/* *{
    outline: 1px solid red;
} */

.sup_wrp{
    display: flex;
    width: 70%;
    margin: 50px auto;
    align-items: center;
}

.red{
    color: red;
    padding: 0 5px;
}


/* 左側表單 */
.sup_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 70%;
}

/* 表單 */
.sup_left form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* 表單容器 */
form .form_top{
    width: 100%;
}

/* 表單上層 */
form .form_top div{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
    
}

form .form_top > div{
    flex-direction: row;
}

form .form_top div > div{
    display: flex;
    margin: 20px;
    width: 100%;
    height: 70px;
}

/* 左側中段 *//* 左側中段 *//* 左側中段 *//* 左側中段 *//* 左側中段 */
.form_med{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 100%;
    align-items: flex-start;
    height: 150px;
}

.form_med textarea{
    width: 100%;
    resize: none
}
/* 左側下段 */
.form_btm{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
}

.form_btm .show_file{
    position: relative;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 10px;
    border: 2px dashed rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.2);

    background-image: url(../img/cloud.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;

    text-align: center;
}

.form_btm .show_file p{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: .7rem;
}

.form_btm input{
    display: none;
}

/* 同意?? */
.agree {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px;
    font-size: .7rem;
}

.agree input{
    background-color: #ff7300;
    color: white;
}


/* 輸入 */
/* 按鈕 *//* 按鈕 */
input , select ,textarea{
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    width: auto;
    height: 100%;
}

/* input::placeholder{
    border: none;
} */


/* 按鈕 *//* 按鈕 */
/* 輸入 */

/* 右側 */
.sup_right{
    width: 30%;
    margin: 50px;
}